# venv
.venv
venv
.idea

# authentification
.env
g_credentials.json
g_token.json
credentials.json
token.json
google_api_helpers/g_credentials/*

# build
dist
build
.eggs
google_api_helpers.egg-info

# test
.pytest_cache
__pycache__

